<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--
      Azure App Service configuration for FastAPI
      This ensures proper handling of Python FastAPI application
    -->

    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>

    <httpPlatform
      processPath="%HOME%\site\wwwroot\startup.sh"
      arguments=""
      stdoutLogEnabled="true"
      stdoutLogFile="%HOME%\LogFiles\python.log"
      startupTimeLimit="600"
      requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="WORKERS" value="4" />
        <environmentVariable name="WORKER_CLASS" value="uvicorn.workers.UvicornWorker" />
        <environmentVariable name="TIMEOUT" value="120" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>

    <!-- Increase timeout limits -->
    <aspNetCore requestTimeout="00:04:00" />

    <!-- Enable compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- HTTP errors -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Rewrite rules to prevent Azure from sleeping -->
    <rewrite>
      <rules>
        <rule name="KeepAlive" stopProcessing="false">
          <match url=".*" />
          <action type="None" />
          <serverVariables>
            <set name="HTTP_Connection" value="keep-alive" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
